:root
{
    --main-color:#08135c ;
    --sec-color :#e41a2b ;
}
header
{
    height: 100vh;
    background-image: url(../images/slider-bg.jpg);
    background-size: cover;
    z-index:1111111 ;


}

.header-layer
{
    width: 100%;
    height: 100%;
    background-color: rgba(8, 19,92,.9);
    
}

nav
{
    background-color: transparent;
}
.nav-logo a
{
    font-weight: bold;
}
.nav-logo a:hover
{
    color: #fff !important;
}
nav ul
{
    list-style: none;
}
nav ul li
{
    padding: 10px 25px;

} 
nav a
{
    text-decoration: none;
    color: #fff;
}
.nav-logo a
{
    font-size: 28px;
}
nav ul li:hover a
{
    color: var(--sec-color);
}
.login-link:hover i , .signup-link:hover i , .search:hover i 
{
    color: var(--sec-color) !important;
}
.header-details
{
    text-align: center;
    padding: 80px;
}
.header-inputs input
{
    padding: 12px 40px;
    border-radius: 10px;
    margin-right: 10px;
}
.header-inputs select
{
    padding: 13px 90px;
    border-radius: 10px;
    margin-right: 10px;
    color:#495057;
}
.header-inputs button
{
    padding: 13px 50px;
    border-radius: 10px;
    color: #fff;
    border: 0;
    background-color: var(--sec-color);
    font-weight: bold;
    transition: all .5s;

}
.header-inputs button:hover
{
    border: 1px var(--sec-color) solid;
    background-color: transparent;
    color: var(--sec-color);
}
.check-inp
{
    margin-bottom: 20px;
}
.check-inp input
{
    width: 30px;
    margin-right: 2px;
    cursor: pointer;
}
.check-inp  label
{
    margin-right: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

/* category-section */
.category-box
{
    background-color: var(--sec-color);
    cursor: pointer;
    transition: background-color .2s;
}
.category-box:hover
{
    background-color: #b61522;
}

.category-box img
{
    width: 55px;
    height: 55px;
}

/* about-us section */

.about-us h2
{
    font-size: 35px;
    font-weight: bolder;
    color: #0c0c0c;
}
.about-us p
{
    color: #0c0c0c;
    font-size: 17px;
}
.about-us button
{
    background-color: var(--main-color);
    padding: 10px 50px;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font-size: large;
    transition: all .3s;
}
.about-us button:hover
{
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.about-us img
{
    border-radius: 15px;
}

/* jobs section */

.jobs
{
    background-color: var(--main-color);
}
.feature-box
{
    border: 1px solid;
    border-radius: 5px;
    
}
.apply-sec
{
    display: flex;
    
}
.apply-sec button
{
    padding: 6px 17px;
    border: 0;
    border-radius: 5px;
    background-color: #213092;
    color: #fff;
    font-size: 17px;
    transition: all .3s;
}
.apply-sec button:hover
{
    background-color: transparent;
    border:  1px solid #213092 ;
}
.view-btn button
{
    padding: 13px 45px;
    color: #fff;
    background-color: var(--sec-color);
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color .4s;
}
.view-btn button:hover
{
    border: 1px solid var(--sec-color);
    color: var(--sec-color);
    background-color: transparent;
}


/* experts-section */

.experts h2
{
    color: #0c0c0c;
}
.experts p
{
    color: #0c0c0c;
    font-size: 19px;
}

.expert-box
{
    background-color: var(--main-color);
    border-radius: 20px;
    overflow: hidden;
}
.expert-btn button
{
    padding: 11px 55px;
    border: 0;
    background-color: var(--sec-color);
    border-radius: 8px;
    color: #fff;
    font-size:17px ;
    transition: all .5s;
}
.expert-btn button:hover
{
    background-color: transparent;
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}
footer
{
    background-color: var(--main-color);
}
.menu ul
{
    margin-top: 10px;
    list-style: square;
}
.menu li
{
    font-size: 17px;
}
.menu a:hover li
{
    background-color: var(--sec-color);
}
.footer-jobs p
{
    font-size: 17px;
    font-weight: 400;
}

.social-icons i
{
    cursor: pointer;
    margin-right: 5px;
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    color: var(--main-color);
    transition: color .3s;
}
.social-icons i:hover
{
    color: var(--sec-color);
}

.letter input
{
    padding: 10px 50px;
}
.subscribe-btn
{
    padding: 13px 50px;
    border: 0;
    background-color: var(--sec-color);
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    transition: all .5s;
}
.subscribe-btn:hover
{
    background-color: transparent;
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}

.line
{
    margin: 50px 0px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    z-index: 11111;
}